* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Acme', sans-serif;
}

h1 {
	margin: 0.75rem;
}

main {
	margin: 0.5rem;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

p {
	margin: 1rem;
}

.datatable {
	width: 200px;
	margin-top: 2rem;
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;

	/* ADD THIS */
	border-top: var(--bord);
}

.col {
	padding: 0.5rem;

	/* ADD THIS */
	border-right: var(--bord);
}

/* ADD EVERYTHING BELOW THIS LINE */


/* CSS Variable */
:root {
	--bord: 1px solid #777;
}

/* Active and visited links */
a:active,
a:visited {
	color: navy;
}

/* Hover effect */
a:hover {
	color: purple;
}

/* Remove extra border on last column */
.col:last-child {
	border-right: none;
}

/* Last row darker gray */
.row:last-child {
	background-color: #ccc;
}

/* Ordered list marker pseudo-element */
ol li::marker {
	content: "✔ ";
	color: navy;
	font-size: 2rem;
}